*.exe
*.test
*.sublime-workspace
*.o
*.a
*.so
_obj
_test
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

test/
